form {
  width: 50% !important;
  margin-left: 25%;
}
h3 {
  color: white;
  background-color: darkslategray;
  text-align: center;
  padding: 1%;
}

.submit {
  margin-left: 50%;
  transform: translate(-50%, 0%);
}


.alert {
  padding:10px
}
